body {
	margin: 0;
	padding: 0;
}

main {
	background-image: url("Images/Background_Image.png");
	background-size: 50% auto;
}



/* TEXT */

h1 {
	font-family: "KoHo", sans-serif;
	font-size: 64px;
	line-height: 150%;
	letter-spacing: 6%;
	font-weight: 600;
	color: #F8F7E8;
	margin: 0;

}

.h1 {
	font-family: "KoHo", sans-serif;
	font-size: 64px;
	line-height: 150%;
	letter-spacing: 6%;
	font-weight: 600;
	color: #F8F7E8;
	margin: 0;

}

h2 {
	font-family: "Mohave", sans-serif;
	font-size: 36px;
	line-height: 150%;
	letter-spacing: -1.1%;
	font-weight: 400;
	color: #B08230;
	margin: 0;

}

h3 {
	font-family: "KoHo", sans-serif;
	font-size: 33px;
	line-height: 150%;
	letter-spacing: 6%;
	font-weight: 500;
	color: #B08230;

}

p  {
	font-family: "Tomorrow", sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -1.1%;
	font-weight: 400;
	color: #000000;

}

a {
	font-family: "Tomorrow", sans-serif;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: -1.1%;
	text-decoration: none;
}

.button-text {
	font-weight: 600;
}

.txt-black {
	color: #000000;
}

.txt-light {
	color: #F8F7E8;
}

.txt-gold {
	color: #B08230;
}

.txt-Members {
	color: #7C7C74;
	text-decoration: underline;
}


.hero-text-home {
	margin-top: 35vh;
	text-align: center;
}

.text-center {
	text-align: center;
}

.space-above {
	margin-top: 10vh;
}

.half-space-above {
	margin-top: 5vh;
}

.space-below {
	margin-bottom: 10vh;
}

.small-top-padding {
	padding-top: 4vh;
}



/* NAV */

header {
		position: relative;
		align-content: flex-end;
		padding-left: 10vw;
}

.header-padding-1 {
	padding-top: 30px;
}

.header-padding-2 {
	padding-top: 6.5vh;
}

nav ul {
	display: flex;
	justify-content: left;
	gap: 6vw;
}

nav li {
	list-style: none;
	padding-left: 10px;
}


.nav-link {
	font-family: "KoHo", sans-serif;
	color: #F8F7E8;
	text-decoration: none;
}

.nav-link-members {
	font-family: "KoHo", sans-serif;
	color: #7C7C74;
	text-decoration: underline;
}



/* FOOTER */

footer {
	color: #F8F7E8;
	padding: 6vh 2vw 3vh 2vw;
}
 
.footer-grid {
	display: grid;
	grid-template: 1fr / 1fr 3fr repeat(3, 2fr) 2fr;
	gap: 2vw;
}

footer ul {
	margin-left: 0;
	padding-left: 0;
}

footer li {
	list-style: none;
	padding-top: 1vh;
}

.footer-padding {
	padding-top: 3vh;
}




/* BKGs and FILLS */

.fill-black {
	background-color: #000000;
}

.fill-light {
	background-color: #F8F7E8;
}

.fill-gold {
	background-color: #B08230;
}



/* BUTTONS */

.button-1 {
	font-family: "KoHo", sans-serif;
	color: #F8F7E8;
	justify-content: center;
	clip-path: polygon(91% 15%, 100% 50%, 91% 85%,9% 85%, 0% 50%, 9% 15%);	padding: 10px 18px;
	background-color: #B08230;
	text-decoration: none;
	font-weight: 600;
	transition: background 0.2s ease;
	border: none;
}

.button-1:hover {
	background-color: #C19D5A;
}

.button-2 {
	font-family: "KoHo", sans-serif;
	color: #B08230;
	justify-content: center;
	clip-path: polygon(93% 10%, 100% 50%, 93% 90%, 7% 90%, 0% 50%, 7% 10%);	padding: 10px 18px;
	background-color: #DDCAA3;
	text-decoration: none;
	font-weight: 600;
	transition: background 0.2s ease;
	border: none;
}

.button-2:hover {
	background-color: #F8F7E8;
}

.button-centered {
	display: flex;
	justify-content: center;
	width: 100%;
}



/* IMAGES */

.logo-size {
	width: 100px;
}

.hero-box-home {
	height: 80vh;
	padding: 0;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
	filter: drop-shadow(0 20% 50% #000000);
}


.hero-box-otherpages {
	width: 100vw;
	max-height: 60vh;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}

.flex-stack {
	display: flex;
	flex-direction: column;
}

.img-full {
	width: 100%;
}

.img-full-vw {
	width: 100vw;
}

.img-height-full {
	min-height: 100%;
	min-width: 100%;
}

.width-60vw {
	width: 60vw;
	max-height: 100%;
}



/* TEXT BOXES */

.narrow-txt-box {
	background-color: #F8F7E8;
	clip-path: polygon(0% 50%, 10% 0%, 100% 0%, 100% 100%, 10% 100%);
	padding-top: 3vh;
	padding-left: 10vw;
	padding-right: 7vw;
	padding-bottom: 7vh;
}



/* POSITIONING */

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.align-items-center {
	align-items: center;
}

.z-index-1 {
	z-index: 1;
}

.z-index-2 {
	z-index: 2;
}

.z-index-3 {
	z-index: 3;
}


.space-left {
	margin: 0 2vw;
}

.hero-section-home {   
	width: 100%;       /* height = 80vh for section to be same size as img */
	height: 85vh;      /* height = 58vh -> section = up to the angled edges of the img*/
}                      /* height = 60-75vh for a bit of space, but point still overlaps a little*/


.section-height-70 {
	height: 70vh;
}

.display-flex{
	display: flex;
}



/* MOBILE BREAKPOINT */

@media screen and (max-width: 478px) {
	/* TEXT */


	/* IMAGES */


	/* OTHER */

	.sm-hide {
		display: none;
	}

}



/* CLEAN-UP */

.overflow {
	overflow: hidden;
}






/* move to better spot later if it actually works.... */
.short-img-grid {
	display: grid;
	grid-template: 1fr / repeat(12, 1fr);
	align-items: stretch;
	/* align-items: center; */
	align-content: center;
	gap: 2vw;
}
.short-grid-left {
	grid-area: 1 / 1 / span 1 / span 7;
	z-index: 1;
}

.short-grid-right {
	display: flex;
	align-items: center;
	grid-area: 1 / 7 / span 1 / span 6;
	z-index: 2;
}



.routes-grid {
	display: grid;
	grid-template: 1fr 2fr / 1fr 1fr;
	margin: auto 10vw;
	text-align: center;
	gap: 2vw;
}

.routes-margin-left {
	margin-left: 1vw;
}

.routes-margin-right {
	margin-right: 1vw;
}

.routes-txt-box-1 {
	text-align: center;
	background-color: #7997BE;
	padding: 5vh 3vw;
	margin-bottom: 2vh;
	/* margin-right: 1vw; */
	border-radius: 1vw 1vw 0 0;
}

.routes-txt-box-2 {
	text-align: center;
	background-color: #FDDDAA;
	padding: 5vh 3vw;
	margin-bottom: 2vh;
	/* margin-left: 1vw; */
	border-radius: 1vw 1vw 0 0;
}

.routes-img-1 {
	/* margin-right: 1vw; */
	border-radius: 0 0 .9vw .9vw;
}

.routes-img-2 {
	/* margin-left: 1vw; */
	border-radius: 0 0 .9vw .9vw;
}

.route-hover:hover {

}

.route-map-link {
	color: #F8F7E8;
	text-decoration: underline;
	text-align: center;
	font-size: 16px;
}

